{{define "content"}}
  <div class="uk-container">
    {{template "partials/admin-navbar"}}

    <ul class="uk-breadcrumb">
      <li class="uk-disabled"><a>QUESTIONS</a></li>
    </ul>
    <div class="questions-container uk-margin-bottom">
      <h3>QUESTIONS</h3>
    </div>
  </div>
{{end}}
