{{define "content"}}
  <div class="uk-container">
    {{template "partials/admin-navbar"}}

    <ul class="uk-breadcrumb">
      <li><a href="/admin">ADMIN</a></li>
      <li class="uk-disabled"><a>STORIES</a></li>
    </ul>
    <div class="stroies-container uk-margin-bottom">
      <h3>STORIES</h3>
    </div>
  </div>
{{end}}
