{{define "content"}}
  <div class="uk-container">
    {{template "partials/admin-navbar"}}

		<ul class="uk-list uk-list-large uk-list-striped">
			{{range $fbAccounts := .fbAccounts}}
				<li>{{$fbAccounts.Name}}</li>
			{{end}}
		</ul>
  </div>
{{end}}
