{{define "partials/footer"}}
  <div class="uk-section uk-section-secondary">
    <div class="uk-container">
      <div class="uk-child-width-expand@s" uk-grid>
	<div>
	  <h1 class="uk-text-lead">Contact Us</h1>
	  <p>Email: info@sugilanon.com</p>
	</div>
	<div>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	<div>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
      </div>
    </div>
  </div>
{{end}}
