{{define "partials/question"}}
  <div class="question">
    <div class="q-header">
      <div class="qoutes">
        <div class="qoutes-icon"></div>
      </div>
      <div class="q-header-details">
        <div class="posted_date">
          <span>Posted Date</span>:
        </div>
        <div class="posted_type">
          <span>Type</span>:
        </div>
      </div>
    </div>
    <div class="q-body">
      Dong Abloy, Kapila naka uyab?
    </div>
  </div>
{{end}}
