{{define "content"}}
<div class="uk-section" id="notfound">
  <div class="uk-container uk-container-small uk-position-relative">
    <div class="uk-column-1-2">
      <div class="uk-align-right">
        <h2 class="uk-heading-primary">Oops!</h1>
          <h2 class="uk-article-lead">We can't seem to find the page you're looking for.</h2>
      </div>
      <div class="uk-align-left">
        <img src="https://media.giphy.com/media/l46ClaIBRzF1iosLK/giphy.gif" title="not found" />
      </div>
    </div>
  </div>
</div>
{{end}}