{{define "content"}}
  <div
    class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top"
    style="background-image: url('./assets/images/night-lamp.jpg');">
    <h4
      class="uk-padding uk-width-1-1@m uk-text-center uk-margin-auto uk-margin-auto-vertical h-shadow"
      uk-parallax="target: #test-filter; blur: 0,10;">
      Ang sugilanon nahimo nang tipik sa atong kaugalingon. Sama kanindot sa mga bituon nga ni-aninag sa kagabhion, nga usahay
      mapahiyumon natong lingi-on. Usahay dili nato ikalimod, nga ang atong sugilanon maoy magtukmod ning kinahubi sa panlimbasog
      aron kita mabuhi. Pero adunay sugilanon nga lisod natong hinumduman, sama ugaling kung grabing kasakit ang atong nahiaguman.
      Apan kung atong mahinumduman, kining tanan pagbuot sa atong kahitas-an. Dili man patas kung sa atong pagtaw-an, apan sa ulahi
      kita ra ang mabulahan.
    </h4>
  </div>
  <div class="uk-section uk-section-muted">
    <div class="uk-container">
      <ul uk-tab>
				<li class="uk-active" uk-switcher><a href="#">Question</a></li>
				<li><a href="#">Storyline</a></li>
      </ul>
      <ul class="uk-switcher uk-margin">
				<li>
				{{template "partials/question" .}}
				</li>
				{{if .is_login}}
		<li>
						<form action="/create/story" method="post">
							<fieldset class="uk-fieldset">
									<legend class="uk-legend">Share your story</legend>
									<div class="uk-margin">
										<input class="uk-input uk-form-width-medium" type="text" placeholder="Email Address">
									</div>

									<div class="uk-margin">
											<textarea class="uk-textarea" rows="5" placeholder="Story..."></textarea>
									</div>

									<p uk-margin>
										<button class="uk-button uk-button-primary">Submit</button>
									</p>
							</fieldset>
						</form>
					</li>
				{{end}}
      </ul>
    </div>
  </div>
{{end}}