{{define "content"}}
	<h1>VERIFICATION PAGE HERE</h1>
	{{if eq .successfulVerification false}}
		<h3>INVALID VERIFICATION MESSAGE HERE</h3>
	{{else}}
		<h3>SUCESSFUL VERIFICATION MESSAGE HERE</h3>
	{{end}}
{{end}}
