{{define "content"}}
  <div class="uk-section uk-section-muted">
    <div class="uk-container">
      <h1 class="uk-heading-line">
        <span>Hello, {{.username}}</span>
      </h1>
      <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">We're sad to see you go</h3>
        <p>Deactivating your account will disable your profile.</p>
        <a href="#deactivate-modal" class="uk-button uk-button-danger" uk-toggle>DEACTIVATE</a>
      </div>
    </div>
  </div>

  <div id="deactivate-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title">Are you sure you want to proceed?</h2>
      <p class="uk-text-right">
        <a class="uk-button uk-button-default uk-modal-close" href="#">CANCEL</a>
        <a class="uk-button uk-button-danger" href="/deactivate/{{.facebook_id}}">DEACTIVATE</a>
      </p>
    </div>
  </div>
{{end}}
